
body {
    font-family: "Comic Sans MS", sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: rgb(9,9,121);
	background: linear-gradient(180deg, rgba(9,9,121,1) 50%, rgba(255,255,255,1) 50%);
  }
  
  .login-container {
    background: #D2E01B;
    border: none;
    padding: 40px;
    width: 320px;
    text-align: center;
    border-radius: 25px;
  }
  
  h1 {
    font-size: 28px;
    margin-bottom: 30px;
    color: #004496;
  }
  
  .input-group {
    margin-bottom: 20px;
    text-align: left;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
  }
  
  input {
    width: 100%;
    padding: 12px;
    border: none;
    font-size: 14px;
    border-radius: 25px;
    margin-left: -15px;
  }
  
  button {
    background-color: #004496;
    color: white;
    font-weight: bold;
    border: none;
    padding: 12px;
    width: 75%;
    cursor: pointer;
    font-size: 16px;
    border-radius: 25px;
    margin-left: -15px
  }
  #sign{
    margin-top: 20px;
  }
  
  button:hover {
    background-color: #b6a71f;
  }
  
  @media (max-width: 600px) {
    .login-container {
      width: 90%;
      padding: 30px;
    }
  }